.aspect-ratio-1x1 {
  aspect-ratio: 1/1;
}

.p-3 {
  padding: 1rem!important;
}

.px-2 {
  padding-right: .5rem!important;
  padding-left: .5rem!important;
}

.py-3 {
  padding-top: 1rem!important;
  padding-bottom: 1rem!important;
}

.py-4 {
  padding-top: 1.5rem!important;
  padding-bottom: 1.5rem!important;
}

.pt-6 {
  padding-top: 4.5rem !important;
}

@media (min-width:992px) {
  .px-lg-4 {
    padding-right: 1.5rem!important;
    padding-left: 1.5rem!important;
  }
}

@media (min-width:992px) {
  .py-lg-0 {
    padding-top: 0!important;
    padding-bottom: 0!important;
  }
}

